@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot');
	src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf')
		format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fs-FilesToolbar {
	height: 56px; 
}

.fs-FilesToolbar.fs-FixedToolbar {
	box-shadow: inset 0px -1px 1px rgba(0,0,0,.25),0px 1px 0px rgba(0,0,0,.15);
}

.fs-FilesToolbar .fs-Title {
	line-height: 56px;
}

.fs-BackButton, .fs-FolderButton,.fs-LogoButton {
	font-size: 24px;
	color: #ffffff;
	height: 38px;
    padding: 6px;	
    border-radius: 2px;
}

.fs-BackButton {
    height: 34px;
   	cursor: pointer;	
}

.fs-FolderButton {
    cursor: pointer;	
    margin-right: 16px;
}

.fs-FolderButton:hover {
    background-color: rgba(0,0,0,.2);	
}

.fs-TopToolbar {
	background-color: #ffffff;
	height: 60px;
}

.fs-TopToolbar .fs-Logo {
    position: relative;
	left: 20px;
    top: 21px;
    width: 110px;
    height: auto;
}

.fs-TopToolbar .fs-SearchBox {
    position: relative;
    top: 15px;
	height: 30px;
    width: 100%;
    border: 1px solid #cdcdcd;
    padding-left: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.fs-TopToolbar .fs-ButtonSearch {
	font-size: 16px !important;
    height: 18px !important;
    padding: 5px !important;
    position: relative;
    top: 15px;
    width: 60px !important;
}

.fs-TopToolbar .fs-DisplayName {
    color: #777777;
    font-size: 13px;
    position: relative;
    top: 20px;    
}

.fs-TopToolbar .fs-Avatar {
    border-radius: 16px;
    position: relative;
    top: 15px;
    width: 32px;
}

.fs-TableSection {
	padding-bottom: 0;
}

.fs-FilesPanel {
    background-color: #F3F3F3;
	padding-bottom: 20px;	
}

.fs-Files {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 20px;
}

.fs-Files span {
	font-size: 14px;
}

.fs-Files img {
 	height: 21px;
    height: 16px;
    margin-left: 10px;
    margin-right: 16px;
    position: relative;
    top: 4px;    
}

.fs-FileName {
	color: #444;
	font-size: 14px;	
	font-weight: 500;
    position: relative;
    top: 2px;    	
    text-decoration: none;    
}

.fs-FileMetaData {
	color: #777;
   	position: relative;
    top: 5px;	
}

.fs-FilesSection {
    border-bottom: 1px solid #d3d3d3;
    color: #555555;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 0 10px 2px;
    margin-bottom: 0;
}

.fs-FilesRow {
	border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
	background-color: #fff;    
	overflow: auto;    
 	padding: 8px;	
 	cursor: pointer;
}

.fs-FilesRow:hover {
	background-color: #eef6ff;
}

.fs-Files a {
    text-decoration: none;
}

.fs-MessageSection {
	background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.1);
    box-shadow: 0px 1px 3px rgba(0,0,0,.1);
    height: 128px;
    text-align: center;
    width: 100%;
	color: #888888;
    font-size: 16px;
    padding-top: 48px;
}

.fs-SectionMoreExamples {
	padding-top: 68px;	
}

.fs-MoreButton {
	text-align: right;
	cursor: pointer;
}

.fs-MoreButton:hover {
	color: #ffffff;
}
	
.fsu-ExampleImage {
	border: 1px solid #ddd;
	border-radius: 12px;
}

.fs-SectionExamples {
	background-color: #424249 !important;
	padding-bottom: 0;	
}

.fs-SectionExamples .grid-pad {
	padding-bottom: 0;
}

.fs-SectionExamples img {
	cursor: pointer;
	width: 100%;
	opacity: 0.95;
}

.fs-SectionExamples img:hover {
	opacity: 1;
}

.fs-SectionExamples h2, .fs-SectionExamples h3, .fs-CopyExample h1 {
	font-family: 'Roboto',sans-serif;
	-webkit-font-smoothing: antialiased;    
	color: #E0E0E0;
	font-weight: 500;
	font-size: 20px;
	line-height: 16px;
    margin: 0 0 12px; 	
	letter-spacing: 0;    
}

.fs-CopyExample h1 {
	color: #333;
}

.fs-ExampleDescription {
	padding-left: 20px;
}

.fs-CopyExample .fs-ExampleImage {
	width: 100px;
	border-radius: 0;
	border: 0;	
}

.fs-SectionExamples h3 {
	font-size: 16px;
	margin: 16px 0; 	
}

.fs-SectionExamples h4 {
	color: #ffffff;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
 	margin: 2px 0 24px;
}

.fs-CopyExample p {
	margin: 0;		
}

.fs-Toolbar .fs-ShoppingCart {
	margin: 0px 8px 2px 6px;
}

.fsc-SearchBox {
	border-right: 0px;
	border-radius: 3px 0px 0px 3px;
}

.fsc-SearchButton {
	margin-right: 11px;
}

.fsc-DialogPrompt {
	color: #333333;
	font-weight: bold;
	padding-left: 3px;
	padding-top: 6px;
	padding-bottom: 3px;
}

.fsc-ResourcePanel {
	margin: 10px auto 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #666;
	line-height: 16px;
}

.fsc-ResourcePanel {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f6f6f6;
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f6f6f6);
	background-image: -moz-linear-gradient(top, #fdfdfd, #f6f6f6);
	background-image: -ms-linear-gradient(top, #fdfdfd, #f6f6f6);
	background-image: -o-linear-gradient(top, #fdfdfd, #f6f6f6);
	background-image: linear-gradient(top, #fdfdfd, #f6f6f6);
}

.fsc-ResourcePanel img {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-radius: 4px -moz-box-shadow: 3px 3px 3px 0px #CCCCCC;
	-webkit-box-shadow: 3px 3px 3px 0px #CCCCCC;
	box-shadow: 3px 3px 3px 0px #CCCCCC;
	margin: 5px 22px 5px 14px;
}

.fsc-SaveLabel {
	color: #6a6a6a;;
	font-size: 13px;
	line-height: 32px;
}

.fsc-TabButton {
	margin-right: 10px;
}

.fsc-FileName {
	font-size: 15px;
	padding: 8px;
	margin-right: 6px;
	color: #222;
	white-space: nowrap;
}

.fsc-DocumentName {
	font-family: arial, sans-serif;
	font-size: 18px;
	color: #000;
	line-height: 16px;
	display: inline-block;
	max-width: 99%;
	outline: none;
	margin-top: 7px;
	padding: 5px;
	white-space: nowrap;
}

.fsc-EditableDocumentName:hover {
	background-color: #eee;
	cursor: pointer;
}

.fsc-MePanel {
	color: #666;
	padding-right: 28px;
	margin-top: 8px;
	cursor: pointer;
	outline: none;
}

.fsc-MeCard {
	padding: 14px;
	color: #666;
	background-color: #fff;
}

.fsc-MeCard .fs-ButtonSecondary {
	margin-bottom: 4px;
}

.fsc-MeCard a {
	color: #36c;
	text-decoration: none;
}

.fsc-MeSeparator {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .2)),
		to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, 0));
	background-image: linear-gradient(top, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, 0));
	height: 6px;
}

.fsc-MeToolbar {
	height: 46px;
	padding-bottom: 4px;
}

.fsc-MePanel .gwt-Label {
	font-size: 11px;
}

.fsc-MePopup .gwt-Image {
    border-radius: 48px;
    cursor: pointer;
    height: 96px;
    margin-right: 12px;
	cursor: pointer;
}

.fsc-MeDisplayName {
	font-weight: bold;
	font-size: 13px;
	line-height: 7px;
	padding-top: 4px;
	color: #000;
}

.fsc-DriveIcon {
	opacity: 0;
}

.fsc-DrivePanel {
	cursor: pointer;
}

.fsc-DrivePanel:hover .fsc-AppIcon {
	opacity: 0;
}

.fsc-DrivePanel:hover .fsc-DriveIcon {
	opacity: 1;
}

.fsc-ChatPhoto {
	padding: 3px;
}

.fsc-ChatPanel {
	margin: 6px 6px 0px 6px;
	border-radius: 4px 4px 0px 0px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	background: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 0px;
	outline: none;
	z-index: 9999;
}

.fsc-ChatToolbar {
	border-bottom: 1px solid #ccc;
	background-color: #fafafa;
	border-radius: 4px 4px 0px 0px;
}

.fsc-ChatArea {
	height: 60px;
	margin-left: 5px;
	margin-top: 5px;
	width: 270px;
}

.fsc-CollaboratorsCount {
	padding-left: 10px;
	padding-right: 6px;
	color: #333;
	font-size: 14px;
}

.fsc-CollaboratorNames,.fsc-ChatDisplayName {
	max-width: 215px;
	overflow: hidden;
	color: #333;
	font-size: 14px;
	white-space: nowrap;
	padding-right: 6px;
}

.fsc-ChatNotification {
	font-size: 11px;
	color: #666;
	padding-bottom: 3px;
	padding-left: 43px;
}

.fsc-ChatDisplayName,.fsc-ChatTimestamp,.fsc-ChatMessage {
	font-size: 13px;
}

.fsc-ChatDisplayName {
	font-weight: bold;
	color: #333;
}

.fsc-ChatTimestamp {
	font-size: 11px;
	font-weight: bold;
	color: #333;
	white-space: nowrap;
}

.fsc-ChatButton {
	min-width: 18px;
	width: 18px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 6px;
	margin-right: 6px;
}

.fs-Toolbar .fsc-CollaboratorPanel {
	margin-bottom: -3px;
}

.fsc-CollaboratorPanel {
	border-radius: 2px;
	border: solid 1px #cbcbcb;
	margin-right: 4px;
}

.fsc-FontIcon,.fsc-IconButton,.fsc-MenuIcon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 16px;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.fsc-IconButton .html-face {
	margin-top: 6px;
}

.fsc-CommentsScrollPanel {
	max-height: 450px;
	padding: 0 29px 0 20px;
}

.fsc-CommentController,.fsc-MePopup {
	width: 380px;
	background: #fff;
	border: solid 1px #cbcbcb;
	-moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	outline: none;
	z-index: 99;
}

.fsc-MePopup {
	background: #fbfbfb;
}

.fsc-CommentController:before,.fsc-CommentController:after,.fsc-MePopup:before,.fsc-MePopup:after
	{
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
}

.fsc-CommentController:before,.fsc-MePopup:before {
	border-width: 11px;
	border-bottom-color: #cbcbcb;
	left: 300px;
	top: -22px;
}

.fsc-CommentController:after,.fsc-MePopup:after {
	border-width: 10px;
	border-bottom-color: #f5f5f5;
	left: 301px;
	top: -20px;
}

.fsc-MePopup:after {
	border-bottom-color: #fff;
	left: 331px;
}

.fsc-MePopup:before {
	left: 330px;
}

.fsc-CommentControllerToolbar {
	background-color: #f5f5f5;
	padding: 10px 29px 10px 20px;
}

.fsc-DriveIcon {
	opacity: 0;
}

.fsc-DrivePanel {
	cursor: pointer;
}

.fsc-DrivePanel:hover .fsc-FileIcon {
	opacity: 0;
}

.fsc-DrivePanel:hover .fsc-DriveIcon {
	opacity: 1;
}

.fsc-AppIcon,.fsc-DriveIcon {
	color: #fff;
	font-size: 24px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fsc-MenuIcon {
	float: left;
	padding-top: 0px;
	margin-left: -22px;
	margin-top: -1px;
}

.fsc-MenuBar .fs-MenuBar {
	width: 100%;
}

.fsc-MenuToolbar {
	padding: 1px 44px 0 50px;
}

.fsc-SubmenuIcon {
	border-radius: 2px;
	color: #FFFFFF;
	float: left;
	font-size: 16px;
	height: 16px;
	line-height: 16px;
	margin-right: 10px;
	padding: 3px;
	position: relative;
	text-align: center;
	width: 16px;
}

.gwt-MenuBarPopup,.fs-DialogBox {
	z-index: 50;
}

.gwt-MenuBar {
	cursor: default;
}

.gwt-MenuBar-horizontal {
	height: 36px;
	margin: 0 24px 0 51px;
	outline: none;
	position: relative;
	z-index: 998;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	white-space: nowrap;
	cursor: default;
	font: 13px Arial, sans-serif;
	padding: 5px 6px;
	border: 1px solid transparent;
	outline: none;
}

.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
	border-color: #eee;
}

.gwt-MenuBar-horizontal .gwt-MenuItem-opened {
	background: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	border-bottom: none;
	color: black;
	z-index: 999;
	padding: 5px 6px 6.5px;
}

.gwt-MenuItem {
	position: relative;
	color: #333;
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 6px 8em 6px 30px;
	white-space: nowrap;
	line-heigth: 17px;
}

.gwt-MenuItem-disabled {
	color: #e0e0e0;
}

.gwt-MenuItem-selected,.subMenuIcon-selected {
	background: #eee;
}

.subMenuIcon-selected {
	margin-right: 10px;
}

.subMenuIcon img {
	position: relative;
	left: -10px;
}

.gwt-MenuBar-vertical table {
	border-collapse: collapse;
}

.gwt-MenuBar-vertical .menuSeparatorInner {
	border-top: 1px solid #ebebeb;
	margin-top: 6px;
	margin-bottom: 6px;
}

.fsc-ImageItem {
	padding-top: 0px;
}

.fsc-ImageItem img {
	margin-left: -27px;
	margin-right: 7px;
	position: relative;
	top: 5px;
}

.fsc-SubImageItem {
	padding-top: 3px;
}

.fsc-SubImageItem img {
	margin: 3px 10px 3px -20px;
	position: relative;
	top: 5px;
}

.fsc-SubIconItem {
	padding: 4px 16px;
	width: 280px;
}

.gwt-MenuBarPopup {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	background: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	cursor: default;
	font-size: 13px;
	margin: 0;
	margin-top: -7px;
	outline: none;
	padding: 6px 0;
	position: absolute
}

.fsc-SidebarToolbar {
	background-color: #000;
	height: 37px;
}

.fsc-SidebarToolbar .gwt-Label {
	color: white;
	font-weight: bold;
	font-size: 13px;
	padding-left: 10px;
}

.fsc-Sidebar {
	background-color: white;
}

.fsc-SidebarLeft {
	border-right: 1px solid #EBEBEB;
}

.fsc-SidebarRight {
	border-left: 1px solid #EBEBEB;
}

.fsc-Sidebar .closeIcon {
    color: #EEEEEE;
    cursor: pointer;
    padding-right: 12px;
    text-decoration: none;
}

.fsc-Sidebar .closeIcon:hover {
    color: #ffffff;
}

.fsc-RevisionPanel {
	border-bottom: 1px solid #EBEBEB;
}

.fsc-RevisionPanel-selected {
	background-color: #f0f0f0;
}

.fsc-RevisionPanel:hover {
	background-color: #f0f0f0;
}

.fsc-RevisionPicture {
	width: 28px;
	height: 28px;
}

.fsc-RevisionDate {
	font-size: 13px;
}

.fsc-RevisionPanel-selected .fsc-RevisionDate {
	font-weight: bold;
	color: #d14836;
}